#filter-bar-label {
  font-size: 0.9em; 
  font-weight:bold;
  height: 80px;
}

#filter-bar-label .glyphicon {
  font-size:36px;
}

.filter-btn {
  height: 80px;
  display: block;
}
.filter-btn:hover {
  background-color: #d7d7d7;
}
.filter-btn h5 {
  font-weight: bold;
  margin-top: 0;
}